// Base Colors used in the in the project

$black: black;
$white: #ffffff;
$menu-grey: #666666;

$menu-bg-overlay: rgba(0, 0, 0, 0.4);
$text-shadow:  rgba(0, 0, 0, 0.5);

$border-bottom: #b6b6b6;

$time-text: #757575;

// Brand Guidelines
$primary-color: #0dbe98;
$secondary-color: #f83371;
$hover-light: #f4fbf9;
