// Base Colors used in the in the project

$black: black;
$white: #ffffff;
$menu-grey: #666666;

$sidenav-bg: #252525;
$menu-bg-overlay: rgba(0, 0, 0, 0.4);
$text-shadow:  rgba(0, 0, 0, 0.5);

$border-bottom: #b6b6b6;
$footer-grey: #aaa;

$time-text: #757575;

// Brand Guidelines
$primary-color: #0dbe98;
$secondary-color: #f83371;
$third-color: #333333;
$hover-light: #f4fbf9;

// Articles
$description-text: #313131;
$article-author: #444444;
$article-border-b: #cccccc;
$img-caption: #666;