// Our main fonts used in the project

$font-light: "ProximaNovaLight", Arial, Geneva, sans-serif;
$font-regular: "ProximaNovaregular", Arial, Geneva, sans-serif;
$font-bold: "ProximaNovaBold", Arial, Geneva, sans-serif;
